<a href="https://colab.research.google.com/github/Ajeet-18/Python-code/blob/main/Ajeet_summer_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Concept 1: Conditionals [if - them]

1.	Given an integer, check if it is even or odd.

In [ ]:
def check_even_odd(n):
  """print whether n is even or odd
  precondition: n should be positive integers
   """
  assert type(n) in [int,float], repr(n) + ' is not a int'

  if n%2==0:
    print('even')
  else:
    print('odd')

In [ ]:
check_even_odd(-47)

odd

In [ ]:
check_even_odd(-48)

even

In [ ]:
check_even_odd(0)

even

2.	Given two integers, find the larger one.

In [ ]:
def max_two(x,y):
  """
  Return maximum in two numbers
  parameter : x and y are two numebr to compare
  precondition : x and y are integer
  """
  if x > y :
    return x
  elif x==y:
    print('same')
  else:
    return y

In [ ]:
max_two(5,4)

5

In [ ]:
max_two(4,4)

same

In [ ]:
max_two(2,4)

4

3.	Given a temperature in Celsius, convert it to Fahrenheit using the formula F = (C * 1.8) + 32. If the temperature is above 90°F, print “It’s hot outside!” otherwise, print “The temperature is pleasant”.

In [ ]:
def whether_condition(celsius):
  """
  return the whether condition

  parameter celsius : tempeter in celcius
  precondition : celcius is an int
  """
  fahrenheit = (celsius * 1.8) + 32     # Formula to convert Fahrenheit into celsius
  if fahrenheit > 90:
      print("It's hot outside!")
  else:
      print("The temperature is pleasant.")

In [ ]:
whether_condition(100)

It's hot outside!

In [ ]:
whether_condition(10)

The temperature is pleasant.

In [ ]:
whether_condition(-100)

The temperature is pleasant.

In [ ]:
whether_condition(0)

The temperature is pleasant.

4.	Given a year, check if it is a leap year or not. A leap year is divisible by 4, except for years that are divisible by 100. However, years that are divisible by 400 are also leap years.

In [ ]:
def is_leap_year(year):
    """
    return given year is a leap year or not

    parameter year : checking year
    precondition : year is an int
    """
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):      # Condition for leap year
        return "True"  + ',' " is a leap year. "
    else:
        return "False"  + ',' " is not a leap year. "

In [ ]:
is_leap_year(2024)

'True, is a leap year. '

In [ ]:
is_leap_year(2023)

'False, is not a leap year. '

In [ ]:
is_leap_year(2000)

'True, is a leap year. '

5.	Given two numbers, a and b, find the value of a/b (b may be zero)

In [ ]:
def divide_numbers(a, b):
    """ return division of two number

    parameter a, b : b divisible by a
    precondition : a and b are integer
    """
    if b != 0:
        return a / b          # Using division method
    else:
                              # print("Error: Division by zero is not allowed.")
        return 0

In [ ]:
divide_numbers(10, 5)

2.0

In [ ]:
divide_numbers(10, 3)

3.3333333333333335

In [ ]:
divide_numbers(10, 0)

0

In [ ]:
divide_numbers(0, 5)

0.0

6.	Given a point (x1, y1), find the quadrant in which this point lies.

In [ ]:
def find_quadrant(x1, y1):          # Checking Quadrent position
    if x1 > 0 and y1 > 0:
        return "Quadrant I"
    elif x1 < 0 and y1 > 0:
        return "Quadrant II"
    elif x1 < 0 and y1 < 0:
        return "Quadrant III"
    elif x1 > 0 and y1 < 0:
        return "Quadrant IV"
    else:
        return "Origin (0, 0)"      # Checking for origin

In [ ]:
find_quadrant(4, 1)

'Quadrant I'

In [ ]:
find_quadrant(1, -3)

'Quadrant IV'

In [ ]:
find_quadrant(-3, -4)

'Quadrant III'

In [ ]:
find_quadrant(0, 0)

'Origin (0, 0)'

In [ ]:
find_quadrant(-4, 1)

'Quadrant II'

7.	Given two points (x1, y1) and (x2, y2), find the slope and intercept of the line joining these two points (the line may be perfectly horizontal or vertical).

In [ ]:
def find_slope_and_intercept(p1,p2):
    slope=(p2[1]-p1[1])/(p2[0]-p1[0])     # Formula of slope
    print(slope)
    intercept=p1[1]-slope*p1[0]           # Formula of intercept
    print(intercept)

In [ ]:
find_slope_and_intercept((1,2),(3,4))

1.0
1.0

In [ ]:
find_slope_and_intercept((9,2),(7,4))

-1.0
11.0

In [ ]:
find_slope_and_intercept((3,2),(6,4))

0.6666666666666666
0.0

8.	Given a quadratic equation with coefficients a, b and c, find the two solutions (may be real or complex). You should not take the square root of a negative number in your code.

In [ ]:
def find_quadratic_solutions(a, b, c):
    """
    returns the roots of the qudratic with given cofficient

    parameter a : cofficient of highest degree term in quadratic(x**2)
    parameter b : cofficient of x
    parameter c : constant term
    """
    import math
    discriminant = b**2 - 4*a*c                 # Formula of discriminant
    if discriminant >= 0:
        sol1 = (-b + math.sqrt(discriminant)) / (2*a)
        print(sol1)
        sol2 = (-b - math.sqrt(discriminant)) / (2*a)
        print(sol2)
    else:
        print("complex roots")

In [ ]:
find_quadratic_solutions(3, 4, 5)

complex roots

In [ ]:
find_quadratic_solutions(2, 1, 6)

complex roots

In [ ]:
find_quadratic_solutions(9, 8, 1)

-0.1504720765483788
-0.73841681234051

In [ ]:
find_quadratic_solutions(1, 4, 3)

-1.0
-3.0

9.	Given three points, find out whether they lie on the same straight line or not.

In [ ]:
def checking_collinearity(x,y,z):
	if (y[1]-x[1])/(y[0]-x[0]) == (z[1]-y[1])/(z[0]-y[0]):
		return 'collinear'
	else:
		return 'Not collinear'

In [ ]:
checking_collinearity((-1,2),(-4,9),(2,6))

'Not collinear'

In [ ]:
checking_collinearity((1,2),(4,9),(2,6))

'Not collinear'

In [ ]:
checking_collinearity((1,2),(2,3),(3,4))

'collinear'

In [ ]:
checking_collinearity((0,0),(1,0),(-4,0))

Not collinear

10.	Given three integers, find the smallest one

In [ ]:
def find_smallest_integer(a, b, c):         # Taking a, b, c are three integer
    smallest = min(a, b, c)
    return smallest

In [ ]:
find_smallest_integer(2, 0, 3)

0

In [ ]:
find_smallest_integer(-3, 0, -5)

-5

Concept 2: For Loop (without lists)

1.	Given a positive integer, print all integers from 1 up to this number

In [ ]:
def print_numbers_upto(n):
    for i in range(1, n+1):
        print(i)

In [ ]:
print_numbers_upto(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
print_numbers_upto(1)

1

In [ ]:
print_numbers_upto(2)

1
2

2.	Given a positive integer, find out the sum of all integers from 1 up to this number.

In [ ]:
def calculate_sum_upto(n):
    sum = (n * (n + 1)) // 2        # Formula of sum of n natural number
    return sum

In [ ]:
calculate_sum_upto(5)

15

In [ ]:
calculate_sum_upto(9)

45

In [ ]:
calculate_sum_upto(100)

5050

In [ ]:
calculate_sum_upto(2)

3

3.	Given a positive integer, find out its factorial.

In [ ]:
def find_factorial(n):
    factorial = 1                  # initializing the factorial by 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

In [ ]:
find_factorial(5)

120

In [ ]:
find_factorial(2)

2

In [ ]:
find_factorial(1)

1

In [ ]:
find_factorial(0)

1

4.	Given a positive integer, find out if it’s prime or not.

In [ ]:
def is_prime(n):
    if n <= 1:
        return "Prime"
    for i in range(2, int(n**0.5) + 1):     # checking for prime number
        if n % i == 0:
            return "not prime"
    return "prime"

In [ ]:
is_prime(10)

'not prime'

In [ ]:
is_prime(1)

False

In [ ]:
is_prime(2)

True

In [ ]:
is_prime(5)

True

5.	Given a positive integer, find out the sum of all odd numbers from 1 up to this number.

In [ ]:
def find_sum_of_odds(n):
    sum_of_odds = 0
    for num in range(1, n + 1, 2):    # stepsize of 2 for odd number
        sum_of_odds += num
    return sum_of_odds

In [ ]:
find_sum_of_odds(10)

25

In [ ]:
find_sum_of_odds(0)

0

In [ ]:
find_sum_of_odds(1)

1

In [ ]:
find_sum_of_odds(2)

1

6.	Given a positive integer, find out the sum of all even numbers from 2 up to this number.

In [ ]:
def calculate_sum_of_evens(n):
    sum_of_evens = 0
    for num in range(2, n + 1, 2):
        sum_of_evens += num
    return sum_of_evens

In [ ]:
calculate_sum_of_evens(5)

6

In [ ]:
calculate_sum_of_evens(2)

2

In [ ]:
calculate_sum_of_evens(1)

0

7.	Given a positive integer, find the multiplication table of that integer up to 10.

In [ ]:
def find_multiplication_table(n):
    for i in range(1, 11):
        result = n * i
        print(f"{n} x {i} = {result}")

In [ ]:
find_multiplication_table(1)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
find_multiplication_table(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
find_multiplication_table(0)

0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0

8.	Given a positive integer, find all its divisors.

In [ ]:
def find_divisors(n):
    divisors = []
    for i in range(1, n + 1):
        if n % i == 0:
            divisors.append(i)
    return divisors

In [ ]:
find_divisors(12)

[1, 2, 3, 4, 6, 12]

In [ ]:
find_divisors(13)

[1, 13]

9.	Given a positive integer, print each of its digits separately without converting the number into a string.

In [ ]:
def print_digits(n):
    if n == 0:
        print(0)
    else:
        digits = []
        while n > 0:
            digit = n % 10
            digits.append(digit)
            n //= 10
    for digit in reversed(digits):
      print(digit)

In [ ]:
print_digits(248564878)

2
4
8
5
6
4
8
7
8

In [ ]:
print_digits(1)

1

10.	Given a positive integer, convert it into binary, and vice-versa.

In [ ]:
def convert_int_to_binary(n):
    binary = bin(n)[2:]
    return binary

In [ ]:
convert_int_to_binary(10)

'1010'

In [ ]:
convert_int_to_binary(100)

'1100100'

In [ ]:
convert_int_to_binary(-101)

'b1100101'

In [ ]:
def convert_binary_to_int(binary):
    decimal = int(binary, 2)
    return decimal

In [ ]:
binary_number  = "1101010"
decimal_number = convert_binary_to_int(binary_number)
print(decimal_number)

106

In [ ]:
binary_number  = "1101"
decimal_number = convert_binary_to_int(binary_number)
print(decimal_number)

13

Concept 3: For loops (with lists)

1.Given a list of numbers, find out its length

In [ ]:
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print(length)

5

2.Given a list of numbers, find the squares of all the numbers.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

3.Given a list of numbers, find the sum of all the numbers.

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum_of_all_numbers = sum(numbers)
print(sum_of_all_numbers)

15

4.Given a list of numbers, find out the mean and standard deviation.

In [ ]:
import statistics

numbers = [1, 2, 2, 8, 10]
mean = statistics.mean(numbers)
std_dev = statistics.stdev(numbers)

print("Mean:", mean)
print("Standard Deviation:", std_dev)

Mean: 4.6
Standard Deviation: 4.09878030638384

5.Given a list of numbers, find all the even numbers in it.

In [ ]:
numbers = [1, 2, -2, 4, 3, 0, 7, 5, -1]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, -2, 4, 0]

6.Given a list of numbers, find all the odd numbers in it.

In [ ]:
numbers = [1, 0, 3, 10, 5, 0, -1, 8, -9, 2]
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, -1, -9]

7.Given a list of numbers, find out how many even numbers it has.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1

print("Number of even numbers:", even_count)

Number of even numbers: 5

8.Given a list of numbers, create another list in reverse order.

In [ ]:
numbers = [1, 0, -5, 2, 10]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[10, 2, -5, 0, 1]

9.Given a list of numbers, find out the maximum number

In [ ]:
numbers = [1, -2, 3, -10, 0]
maximum_number = max(numbers)
print(maximum_number)

3

10.Given a list of numbers, find out the index of another given number.

In [ ]:
numbers = [1, 0, -5, 5, 4]
given_number = -5
index = numbers.index(given_number)
print(index)

2

Nested For Loops and Conditionals

1.Given a list of positive integers, find the factorial of all the numbers.

In [ ]:
def factorial_helper(num):
  if num == 0 or num == 1:
    return 1

  factorial = 1
  for i in range(1,num+1):
    factorial = i*factorial
  return factorial

def factorial(lst):
  acc = []
  for i in lst:
    acc.append(factorial_helper(i))
  return acc

In [ ]:
print(factorial([5,3,9,6]))

[120, 6, 362880, 720]

In [ ]:
print(factorial([4,6,0,2]))

[24, 720, 1, 2]

In [ ]:
print(factorial([9,7,1,3]))

[362880, 5040, 1, 6]

2.Given two numbers, find its Least Common Multiple (LCM).

In [ ]:
def LCM(num1,num2):
  LCM = num1
  if num2 > num1:
    LCM = num2
  while True:
    if LCM % num1 == 0 and LCM % num2 == 0:
      return LCM
    LCM += 1

In [ ]:
print(LCM(6,7))

42

In [ ]:
print(LCM(2,7))

14

In [ ]:
print(LCM(6,9))

18

3.Given two numbers, find its Greatest Common Divisor (Divisor).

In [ ]:
def gretest_common_divisor(n1,n2):
  if n2==0:
    return n1
  else:
    return (gcd(n2,n1%n2))

In [ ]:
gretest_common_divisor(9,1)

1

In [ ]:
gretest_common_divisor(6,0)

6

4.Given a positive integer, find out all prime numbers from 1 up to this number.

In [ ]:
def prime(num):
  if(num==1 or num==0):
    return False

  for i in range(2,num):
    if num%i==0:
      return False
  return True

def prime2(n):
  for i in range(2,n+1):
    if prime(i):
      print(i,end=" ")

In [ ]:
prime2(22)

2 3 5 7 11 13 17 19

In [ ]:
prime2(2)

2

In [ ]:
prime2(10)

2 3 5 7

5.Given a positive integers, find out the sum of all prime numbers from 1 up to this number.

In [ ]:
def prime(num):
  if(num==1 or num==0):
    return False

  for i in range(2,num):
    if num%i==0:
      return False
  return True

def sum_primes(n):
  sum = 0
  for i in range(2,n+1):
    if prime(i):
      sum += i
  return sum

In [ ]:
print(sum_primes(17))

58

In [ ]:
print(sum_primes(23))

100

In [ ]:
print(sum_primes(5))

10

5.Given a list of numbers, find out how many times each number occurs in the list.

In [ ]:
def occue_num(lst,num):
  count = 0
  for i in lst:
    if i==num:
      count+=1
  return count

In [ ]:
print(occue_num([1,2,4,5,6],1))

1

In [ ]:
print(occue_num([1,2,4,5,6,2,5,2],2))

3

7.Given a list of integers, find all pairs of integers in the list whose sum is zero.

In [ ]:
def zero_sum(lst):
  for x in range(len(lst)):
    for y in range(x+1,len(lst)):
      if lst[x] + lst[y]==0:
        print((lst[x],lst[y]))

In [ ]:
zero_sum([-2, 3, -1, -3, 2, 4])

(-2, 2)
(3, -3)

In [ ]:
zero_sum([-4, -3, -1, 3, 2, 4])

(-4, 4)
(-3, 3)

8. Given a string input, find out if it contains a particular substring.

In [ ]:
def find_substring(str,substring):
  for i in range(len(str)-len(substring) +1):
    for j in range(len(substring)):
      if str[i+j]!=substring[j]:
        break
      else:
        return True
  return False

In [ ]:
print(find_substring('sitare','sit'))

True

In [ ]:
print(find_substring('ajeet','ajee'))

True

In [ ]:
print(find_substring('sitare','bhata'))

False

9.Given a string input, find out if it’s a palindrome.

In [ ]:
def palindrome(str):
  for i in range(len(str)//2):
    if str[i]!=str[len(str)-1-i]:
      return False
  return True

In [ ]:
palindrome("ajeet")

False

In [ ]:
palindrome("asdfgfdsa")

True

In [ ]:
palindrome("madam")

True

10.Given two 3x3 matrices with values stored in two lists of length 9, find their product.

In [ ]:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

product_matrix = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]      # Initialize the product matrix with zeros


for x in range(3):                                      # Calculate the product
    for y in range(3):
        for z in range(3):
            product_matrix[x][y] += matrix1[x][z] * matrix2[z][y]


for row in product_matrix:                              # Print the product matrix
    print(row)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

Higher Level Programming Problems

1.Given a list of numbers, sort it in ascending order.

In [ ]:
list = [8, 0, 9, -1, 1000]
print("Unordered list: ", list)

list.sort()

# The ordered list are
print("Ordered list: ", list)

Unordered list:  [8, 0, 9, -1, 1000]
Ordered list:  [-1, 0, 8, 9, 1000]

2.Given a list of numbers, find out the median and mode

In [ ]:
# Find median of elements
num = [1, 0, 3, -4, 2000]
n = len(num)
num.sort()

if n % 2 == 0:
	median1 = num[n//2]
	median2 = num[n//2 - 1]
	median = (median1 + median2)/2
else:
	median = num[n//2]
print("Median is: " + str(median))

Median is: 1

In [ ]:
# find mode

import collections
def find_mode(num_list):
	data = collections.Counter(num_list)
	data_list = dict(data)
	max_value = max(list(data.values()))
	mode_val = [num for num, freq in data_list.items() if freq == max_value]

	if len(mode_val) == len(num_list):
		print("no mode in the list")
	else:
		print("The mode of the list is: " + ', '. join(map(str, mode_val)))
	return mode_val

In [ ]:
lst = [5,9,6,85,2,2,54]
find_mode(lst)

The mode of the list is: 2

[2]

3.Given an arithmetic expression as an input string, solve the expression and print the result.

In [ ]:
def solve_arithmetic_expression(expression):
    try:
        result = eval(expression)                           # eval function is used to evaluate the arithmetic expression
        return result
    except Exception as e:
        print("Error:", e)
        return None

In [ ]:
expression ="(58*5)+42-9"
solve_arithmetic_expression(expression)

323

4.	Implement a Tic-Tac-Toe game. The program should allow two players to play against each other and display the board after each move.

In [ ]:
import random


class TicTacToe:

    def __init__(self):
        self.board = []

    def create_board(self):                     # creating board
        for i in range(3):
            row = []
            for j in range(3):
                row.append('-')
            self.board.append(row)

    def get_random_first_player(self):         # randomize first player
        return random.randint(0, 1)

    def fix_spot(self, row, col, player):      # creating fix spot
        self.board[row][col] = player

    def is_player_win(self, player):
        win = None

        n = len(self.board)


        for i in range(n):                       # checking rows
            win = True
            for j in range(n):
                if self.board[i][j] != player:
                    win = False
                    break
            if win:
                return win

        for i in range(n):                       # checking columns
            win = True
            for j in range(n):
                if self.board[j][i] != player:
                    win = False
                    break
            if win:
                return win


        win = True                                # checking diagonals
        for i in range(n):
            if self.board[i][i] != player:
                win = False
                break
        if win:
            return win

        win = True
        for i in range(n):
            if self.board[i][n - 1 - i] != player:
                win = False
                break
        if win:
            return win
        return False

        for row in self.board:
            for item in row:
                if item == '-':
                    return False
        return True

    def is_board_filled(self):
        for row in self.board:
            for item in row:
                if item == '-':
                    return False
        return True

    def swap_player_turn(self, player):
        return 'X' if player == 'O' else 'O'

    def show_board(self):
        for row in self.board:
            for item in row:
                print(item, end=" ")
            print()

    def start(self):
        self.create_board()

        player = 'X' if self.get_random_first_player() == 1 else 'O'
        while True:
            print(f"Player {player} turn")

            self.show_board()


            row, col = list(map(int, input("Enter row and column numbers to fix spot: ").split()))    # taking user input
            print()


            self.fix_spot(row - 1, col - 1, player)                   # fixing the spot


            if self.is_player_win(player):                            # checking whether current player is won or not
                print(f"Player {player} wins the game!")
                break


            if self.is_board_filled():                                # checking whether the game is draw or not
                print("Match Draw!")
                break


            player = self.swap_player_turn(player)                    # swapping the player turn


        print()                                                       # showing the final view of board
        self.show_board()



tic_tac_toe = TicTacToe()                                             # starting the game3
tic_tac_toe.start()

Player X turn
- - -
- - -
- - -
Enter row and column numbers to fix spot: 1 2

Player O turn
- X -
- - -
- - -
Enter row and column numbers to fix spot: 1 2

Player X turn
- O -
- - -
- - -
Enter row and column numbers to fix spot: 1 3

Player O turn
- O X
- - -
- - -
Enter row and column numbers to fix spot: 2 1

Player X turn
- O X
O - -
- - -
Enter row and column numbers to fix spot: 2 2

Player O turn
- O X
O X -
- - -
Enter row and column numbers to fix spot: 2 3

Player X turn
- O X
O X O
- - -
Enter row and column numbers to fix spot: 1 1

Player O turn
X O X
O X O
- - -
Enter row and column numbers to fix spot: 3 1

Player X turn
X O X
O X O
O - -
Enter row and column numbers to fix spot: 3 2

Player O turn
X O X
O X O
O X -
Enter row and column numbers to fix spot: 3 3

Match Draw!

X O X
O X O
O X O

5.	Determine whether a given graph is planar or not.

In [ ]:
!pip install networkx

Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (3.1)

In [ ]:
import networkx as nx

In [ ]:
G = nx.Graph()
G.add_edges_from([(1, 2), (2, 3), (3, 1)])
def is_planar(graph):
    try:
        planar_embedding = nx.check_planarity(graph)
        return True
    except nx.NetworkXException:
        return False

if is_planar(G):
    print("The graph is planar.")
else:
    print("The graph is not planar.")

The graph is planar.

6.	Simulate the motion of a particle in an arbitrary polygon. The particle moves in straight lines between collisions, and the collisions could be inelastic.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Circle
from matplotlib import animation
from itertools import combinations

In [ ]:
class Particle:
    """A class representing a two-dimensional particle."""

    def __init__(self, x, y, vx, vy, radius=0.01, styles=None):       #Initialize the particle's position, velocity, and radius

        self.r = np.array((x, y))
        self.v = np.array((vx, vy))
        self.radius = radius

        self.styles = styles
        if not self.styles:
                                                                      # Default circle styles
            self.styles = {'edgecolor': 'b', 'fill': False}
    @property
    def x(self):
        return self.r[0]
    @x.setter
    def x(self, value):
        self.r[0] = value
    @property
    def y(self):
        return self.r[1]
    @y.setter
    def y(self, value):
        self.r[1] = value
    @property
    def vx(self):
        return self.v[0]
    @vx.setter
    def vx(self, value):
        self.v[0] = value
    @property
    def vy(self):
        return self.v[1]
    @vy.setter
    def vy(self, value):
        self.v[1] = value

    def overlaps(self, other):                  # Does the circle of this Particle overlap that of other


        return np.hypot(*(self.r - other.r)) < self.radius + other.radius

    def draw(self, ax):                           # Add this Particle's Circle patch to the Matplotlib Axes ax

        circle = Circle(xy=self.r, radius=self.radius, **self.styles)
        ax.add_patch(circle)
        return circle

    def advance(self, dt):                          # Advance the Particle's position forward in time by dt

        self.r += self.v * dt

7.	Read in a text file and find the 10 most frequently occurring words in the file

In [ ]:
file_path = '/content/gandhi10.txt'
with open(file_path, 'r') as file:
  text = file.read()

import re                                        # support for regular expressions

def Split_text(text):
  words = re.findall(r'\b\w+\b', text.lower())   # Split text into words
  return words

words_list = Split_text(text)

from collections import Counter

word_count = Counter(words_list)

most_common_words = word_count.most_common(10)

print("The 10 most frequently occurring words:")
for word, count in most_common_words:
  print(f"{word}: {count}")

The 10 most frequently occurring words:
in: 24021
and: 18369
to: 15546
the: 12714
a: 11307
he: 8481
gandhi: 7066
for: 7066
india: 7064
was: 5653

8.	Given a list of integers, find the sum of all pairs of integers in the list that are equal

In [ ]:
mylist = [1,2,3,4,5,6]

def getSums(mylist, target):
  l = len(mylist)
  sums = []
  for i in range(l):
    for j in range(l):
      if i == j:
        continue
      else:
        sums.append((mylist[i], mylist[j], mylist[i]+mylist[j]))
  return [x for x in sums if x[2] == target]

In [ ]:
getSums(mylist, 7)

[(1, 6, 7), (2, 5, 7), (3, 4, 7), (4, 3, 7), (5, 2, 7), (6, 1, 7)]

9.	Given a string input, find out if it contains a particular substring (allowing for one mismatch).

In [ ]:
def contains_substring_with_one_mismatch(string, substring):
    def is_one_mismatch(s1, s2):                              # checks if two strings have exactly one mismatch
        if len(s1) != len(s2):
            return False

        mismatch_count = 0
        for i in range(len(s1)):
            if s1[i] != s2[i]:
                mismatch_count += 1
                if mismatch_count > 1:                        # Return false if mismatch_count is grater than 1
                    return False

        return True

    if len(substring) > len(string):                          # Return false if length of substring is grater than string
        return False

    for i in range(len(string) - len(substring) + 1):
        if is_one_mismatch(string[i:i + len(substring)], substring):
            return True

    return False

In [ ]:
contains_substring_with_one_mismatch("hello world", "world")

True

10.	Create a Morse code translator

In [ ]:
MORSE_CODE_DICT = {
    'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.',
    'F': '..-.', 'G': '--.', 'H': '....', 'I': '..', 'J': '.---',
    'K': '-.-', 'L': '.-..', 'M': '--', 'N': '-.', 'O': '---',
    'P': '.--.', 'Q': '--.-', 'R': '.-.', 'S': '...', 'T': '-',
    'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-', 'Y': '-.--',
    'Z': '--..', '0': '-----', '1': '.----', '2': '..---',
    '3': '...--', '4': '....-', '5': '.....', '6': '-....',
    '7': '--...', '8': '---..', '9': '----.', ' ': '/'
}

def convert_text_to_morse(text):
    morse_code = []
    for char in text.upper():
        morse_char = MORSE_CODE_DICT.get(char, char)
        morse_code.append(morse_char)
    return ' '.join(morse_code)

def convert_morse_to_text(morse_code):
    text = []
    for code in morse_code.split(' '):
        char = [k for k, v in MORSE_CODE_DICT.items() if v == code]
        text.append(char[0] if char else code)
    return ''.join(text)

In [ ]:
convert_text_to_morse("Hello World")

'.... . .-.. .-.. --- / .-- --- .-. .-.. -..'

In [ ]:
convert_morse_to_text('.... . .-.. .-.. --- / .-- --- .-. .-.. -..')

'HELLO WORLD'